.feature-request-form {
	margin-bottom: 30px;
}

.panel-heading .vote-buttons {
	display: inline-block;
	margin-right: 50px;
}

.panel-heading .feature-score {
	margin-left: 10px;
}

.panel-heading h3 {
	display: inline-block;
}

.description description2 {
	word-break: break-all;
}

.imgcontainer {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.imgcontainer img {
	margin: 0 auto;
	width: auto;
	display: block;
}