body > .container-fluid {
  margin-top: 50px;
}

.description description2{
	 word-break: break-all;
}
.imgcontainer{
	
	width: 100%;
	background-color: rgba(0,0,0, 0.2);
}
.imgcontainer img{
	margin: 0 auto;
	width:auto;
	display: block;
}